* {
  font-family: 'Poppins', sans-serif;
}
.rectangle {
  max-width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  margin: 50px;
  background: #1C1D37;
  border-radius: 20px;
  border:2px solid white;
}