* {
  font-family: "Poppins", Arial, sans-serif;
  color: white;
}

.rectangle {
  max-width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  margin: 50px;
  background: #1c1d37;
  border-radius: 20px;
  border: 2px solid white;
}

/* #container-div {
  position: absolute;
  background-color: red;
} */

#title-div {
  position: absolute;
  margin-left: 80px;
  /* margin-top: 125px; */
}

#button-div {
  right: 70px;
  position: absolute;
  background-color: transparent;
  border: 2px solid white;
  width: 10vw;
  border-radius: 10px;
  margin-top: 125px;
}

#table-div {
  position: absolute;
  margin-left: 80px;
  margin-top: 205px;
  width: 87vw;
}

#manage-venue-table {
  position: absolute;
  margin-top: 150px;
  width: 90vw;
  margin-right: 85px;
  margin-left: 80px;
  background-color: #6d6d87;
}
#search {
  display: block;
  position: absolute;
  /* display: flex; */
  /* margin-top: 70px; */
  /* margin-left: auto; */
  /* margin-left: 550px; */
}
searchInput {
  margin-top: 105px;
  display: flex;
}
#search input {
  background-color: #6d6d87;
  border: 0;
  border-radius: 10px;
  font-size: 19px;
  padding: 15px;
  height: 7vh;
  /* width: 30vw; */
}
input:focus,
textarea:focus {
  border: 1px solid white;
  box-shadow: 0 0 3px whites;
  outline-offset: 0px;
  outline: none;
}
::placeholder {
  color: white;
}
.test {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  margin-top: 80px;
  right: 75px;
}
#notification-text {
  color: white;
  text-align: center;
}
/* .rowC {
  position: absolute;
  display: flex;
  flex-direction: row;
} */
.row {
  width: 100vw;
  position: absolute;
  margin-top: 200px;
  margin-left: 65px;
}

#label {
  float: left;
  color: white;
  font-weight: bold;
}

#text-field {
  padding-left: 10px;
  float: left;
  clear: left;
  background-color: #6d6d87;
  width: 20vw;
  height: 7vh;
  border-color: none;
  border-radius: 10px;
}
#text-field:focus {
  border: none;
  outline-offset: 0px;
  outline: none;
}
textarea:focus,
input:focus {
  color: white;
}
#formgrp-div {
  position: absolute;
  /* margin-top: 18rem;
  margin-left: 80px; */
}
#update-form-cb {
  position: absolute;
  margin-top: 20rem;
  margin-left: 80px;
}
label {
  color: white;
}
#checkbox-div {
  color: white;
}
#update-button-div {
  background-color: transparent;
  border: 2px solid white;
  width: 10vw;
  border-radius: 10px;
}
.btn-row {
  position: absolute;
  display: flex;
  margin-top: 27rem;
}

/* Book Venue */
.wrapper {
  position: absolute;
  display: grid;
  grid-gap: 10px;
  margin-left: 80px;
  margin-top: 10rem;
}

.box {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-column: 0;
  grid-row: 0;
}
.b {
  grid-column: 0;
  grid-row: 1;
}
.c {
  grid-column: 1;
  grid-row: 2;
}
.d {
  grid-column: 2;
  grid-row: 2;
}
.e {
  grid-column: 3;
  grid-row: 1/3;
}

#dt-div {
  background-color: #6d6d87;
  width: 20vw;
  height: 7vh;
  border-color: none;
  border-radius: 10px;
}

.btn {
  box-shadow: none !important;
}

/* ------------app dot js------------ */

#main-flex {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* ------------app dot js------------ */

/* ------------Header (Navbar)------------ */

#bootstrap-navbar {
  background-color: #1c1d3700;
}

.headerContainer {
  background-color: #1c1d37;
  color: white;
}

/* ------------Header (Navbar)------------ */

/* ------------Landing Page------------ */

.landing-page-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("landing-page-background-hd.jpg");
  /* background-image: url("landing-page-background-hd.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

#landing-page-app-header {
  /* background-color: red; */
  position: absolute;
  display: inline-block;
  left: 4vw;
  top: 8vh;
  font-size: 2.2vw;
  font-weight: bold;
}

#landing-page-info-1 {
  /* background-color: red; */
  position: absolute;
  display: inline-block;
  left: 4vw;
  top: 30vh;
  width: 60vw;
  font-size: 3.6vw;
  font-weight: bold;
}

#landing-page-info-2 {
  /* background-color: red; */
  position: absolute;
  display: inline-block;
  left: 4vw;
  top: 68vh;
  width: 60vw;
  font-size: 2.4vw;
  font-weight: bold;
}

#landing-page-dealer-login {
  position: absolute;
  display: inline-block;
  left: 72vw;
  top: 32vh;
  height: 10vh;
  width: 24vw;
  font-size: 2vw;
  font-weight: bold;
}

#landing-page-customer-login {
  position: absolute;
  display: inline-block;
  left: 72vw;
  top: 52vh;
  height: 10vh;
  width: 24vw;
  font-size: 2vw;
  font-weight: bold;
}

@media (orientation: portrait) {
  .landing-page-background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("landing-page-background-hd.jpg");
    /* background-image: url("landing-page-background-hd.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 6vh;
  }

  #landing-page-app-header {
    /* background-color: red; */
    position: relative;
    display: block;
    left: 0;
    top: 0;
    margin-top: 4vh;
    font-size: 4.2vw;
    font-weight: bold;
  }

  #landing-page-info-1 {
    /* background-color: red; */
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    width: 78vw;
    font-size: 6vw;
    font-weight: bold;
  }

  #landing-page-info-2 {
    /* background-color: red; */
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    width: 78vw;
    font-size: 4vw;
    font-weight: bold;
  }

  #landing-page-dealer-login {
    /* background-color: red; */
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    height: 8vh;
    width: 32vw;
  }

  #landing-page-customer-login {
    /* background-color: red; */
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    height: 8vh;
    width: 32vw;
  }
}

/* ------------Landing Page------------ */

/* ------------General Application Background------------ */

.app-background {
  background-color: #383953;
  position: relative;
  /* visibility: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 80vh; */
  flex-grow: 1;
}

/* ------------General Application Background------------ */

/* ------------Dealer Login Page------------ */

.inner-box {
  background-color: #1c1d37;
  border: 0.4vw solid white;
  border-radius: 2.4vw;
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dealer-login-span-header {
  /* background-color: red; */
  font-size: 3.2vw;
  font-weight: bold;
}

.dealer-login-span-input {
  /* background-color: red; */
  display: block;
  font-size: 2.2vw;
  font-weight: bold;
}

.dealer-login-input {
  /* background-color: red; */
  width: 32vw;
  display: flex;
  justify-content: space-evenly;
}

.dealer-login-input-field {
  background-color: #6d6d87;
  height: 8vh;
  width: 32vw;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
  border: none;
  border-radius: 0.6vw;
  padding-left: 1vw;
  outline: none !important;
}

.dealer-login-button {
  border: 2px solid white;
  font-weight: bold;
}

/* ------------Dealer Login Page------------ */

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
/* <<<<<<< HEAD */
/*------------------ View users admin component --------------*/
#view-user-admin-table {
  position: absolute;
  margin-top: 180px;
  width: 90vw;
  margin-right: 85px;
  margin-left: 80px;
  background-color: #6d6d87;
}

#button-user-admin-div {
  right: 240px;
  position: absolute;
  background-color: transparent;
  border: 2px solid white;
  width: 10vw;
  border-radius: 10px;
  margin-top: 125px;
}

#title-admin-div {
  position: absolute;
  margin-left: 80px;
  /* margin-top: 125px; */
  margin-top: 125px;
}
/*------------ View users admin component ----------*/
/*------------ request payment component ----------*/

.row-request-payment {
  width: 100vw;
  position: absolute;
  margin-top: 20rem;
  margin-left: 65px;
}
#confirm-button-div {
  background-color: #1c1d3700;
  border: 2px solid white;
  width: 20vw;
  color: #fff;
  border-radius: 10px;
  
}
.col-request-payment {
  width: 10vw;
  position: absolute;
  margin-top: 10px;
  margin-left: 30rem;
}


/*------------ request payment component ----------*/
/* ======= */

/*---------------- Customer Registration Page --------------*/

.reg-form{
  display:flex;
  flex-direction: column;
}

#survey1{
  display: flex;
  flex-direction: row;
  align-content: center;
}
#survey2{
  display: flex;
  flex-direction: row;
  align-content: center;
}
.customer-register-span-input {
  display: block;
  font-size: 2.2vw;
  font-weight: bold;
}

.customer-register-input {
  
  width: 32vw;
  display: flex;
  justify-content: space-evenly;
}

.customer-register-input-field {
  background-color: #6d6d87;
  height: 8vh;
  width: 24vw;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
  border: none;
  border-radius: 0.6vw;
  padding-left: 1vw;
  outline: none !important;
  margin-right: 25px;
}

.customer-register-span-header {
  
  font-size: 3.2vw;
  font-weight: bold;
}

.customer-register-input {
  
  width: 32vw;
  display: flex;
  justify-content: space-evenly;
}

/* ----------------Customer Login & Admin Login------------------- */

.login-span-header {
  
  font-size: 3.2vw;
  font-weight: bold;
}

.login-span-input {

  display: block;
  font-size: 2.2vw;
  font-weight: bold;
}

.login-input {
  
  width: 32vw;
  display: flex;
  justify-content: space-evenly;
}

.login-input-field {
  background-color: #6d6d87;
  height: 8vh;
  width: 32vw;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
  border: none;
  border-radius: 0.6vw;
  padding-left: 1vw;
  outline: none !important;
}

.login-button {
  border: 2px solid white;
  font-weight: bold;
}

/*---------------Update Dealer Profile---------------------------------*/

.dealer-update-span-input {
  
  display: block;
  font-size: 2.2vw;
  font-weight: bold;
}

.dealer-update-input {
  
  width: 32vw;
  display: flex;
  justify-content: space-evenly;
}

.dealer-update-input-field {
  background-color: #6d6d87;
  height: 8vh;
  width: 24vw;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
  border: none;
  border-radius: 0.6vw;
  padding-left: 1vw;
  outline: none !important;
  margin-right: 20px
}

.dealer-update-span-header {
  text-align: left;
  font-size: 3.2vw;
  font-weight: bold;
}


.dealer-update-input {
 
  width: 32vw;
  display: flex;
  justify-content: space-evenly;
}

